<app-navbar></app-navbar>
<div>
  <mat-card class="invoice-card">
    <mat-card-header>Your Reservation</mat-card-header>

    <mat-card-content>
      <ul class="invoice-list">
        <!-- Task 13: Update the following list to populate values of the selected room -->
        <li>
          <div class="item-label">Room number:</div>
          <div class="item-value"></div>
        </li>
        <li>
          <div class="item-label">Capacity:</div>
          <div class="item-value"> persons</div>
        </li>
        <li>
          <div class="item-label">Check-in:</div>
          <div class="item-value"></div>
        </li>
        <li>
          <div class="item-label">Check-out:</div>
          <div class="item-value"></div>
        </li>
        <li>
          <div class="item-label">Total Room cost:</div>
          <div class="item-value"> ()*()  =() </div>
        </li>
        <li>
          <div class="item-label">Taxes:</div>
          <div class="item-value"></div>
        </li>
        <li>
          <div class="item-label">Extra Charges (Minibar + Laundry + Room Service):</div>
          <div class="item-value"></div>
        </li>
      </ul>

      <div class="invoice-total">
        <div class="item-label">Total Bill:</div>
        <div class="item-value"></div>
      </div>

      <div class="invoice-actions">
        <button mat-raised-button class="pay-button" >Pay</button>
        <button mat-raised-button class="close-button">Close</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="reserve-form">
  <div class="reserve-content">
    <!-- Task 13: Add form here -->

  </div>
</div>
<div class="rooms">
  <!-- Task 13: add room cards here -->

</div>
